:host {
    ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        li {
            list-style: none;
            width: 20%;
            text-align: right;

            &:first-of-type {
                text-align: left;
                svg {
                    margin-right: 10px; 
                }
            }
        }

        span {
            width: 60%;
            text-align: center;
            font-size: 0.8rem;
            opacity: 0.6;
        }
        
        svg {
            max-width: 10px;
            max-height: 10px;
            cursor: pointer;
            opacity: 0.6;
            transition: all 0.3s ease-in-out;

            path {
                fill: white;
            }

            &:hover {
                opacity: 1;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}